# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
*.db

# Node
node_modules/
.next/

# Environment
.env.local
.env

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Uploads (local dev)
backend/uploads/
